@media (max-width: 1025px) and (min-width: 900px) {
  .project-text-wrapper {
    overflow: scroll;
  }
}

@media (max-width: 900px) and (min-width: 200px) {
  .desktop-view {
    top: 100px;
  }

  .project-hats {
    align-items: center;
  }

  .project-title-wrapper {
    margin-bottom: 20px;
    text-align: center;
  }

  .software-project-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
  }

  .software-project-img-wrapper {
    margin-right: 0px;
    width: auto;
  }

  .software-project-img {
    width: 60px;
    margin-right: 0px;
  }

  .software-project-wrapper {
    padding: 2% 5% 2% 0%;
    padding-left: 20px;
  }

  .project-modal-inner {
    width: 85%;
    margin-top: 40px;
  }

  .social-media-sites {
    display: none;
  }

  table {
    position: relative;
    display: block;
    margin: 0 auto;
  }

  tbody {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .email-text {
    text-align: center;
  }

  .resume-row {
    text-align: center;
  }

  footer {
    height: 100px;
  }
}

@media (max-width: 800px) and (min-width: 200px) {
  #flake-logo {
    width: 35px;
    left: 20px;
    top: 10px;
  }

  #cameron-miller {
    font-size: 28px;
    top: 10px;
    padding-left: 10px;
  }

  .nav-list-container {
    display: none;
  }

  #nav-btn {
    display: block;
  }



  .about-content {
    margin-bottom: 100px;
  }

  .whats-new-wrapper {
    width: 90%;
  }

  .language-toggle {
    display: none;
  }

  .no-top-border-mobile {
    border: 1px solid rgba(134, 134, 134, 0);
  }

  .lang-btn-wrapper {
    float: none;
  }

  .software-ui-left {
    display: none;
  }

  .software-list {
    height: unset;
    overflow-y: visible;
    padding-inline-start: 0px;
    padding-left: 0px;
  }

  .software-list-item {
    border-bottom: none;
    border-top: 1px solid white;
    height: 200px;
  }

  .list-item-title {
    padding: 0px;
    font-size: 22px;
  }

  .list-item-description {
    color: white;
    font-weight: 100;
    margin-bottom: 0px;
    padding-top: 8px;
  }

  .project-modal-description {
    font-size: 20px;
    line-height: 30px;
  }
}

/* potential mobile nav background
  background: linear-gradient(-90deg #8ba1c6, #9fb3c8);
  background: linear-gradient(-90deg rgba(139, 161, 198, 1), rgba(159, 179, 200, 1));

 */

@media (max-width: 675px) and (min-width: 200px) {
  body {
    overflow-y: scroll;
  }

  .navigation-bar {
    /* background: linear-gradient(180deg, rgba(139, 161, 198, 1) 50%, rgba(159, 179, 200, 0)); */
    height: 80px;
  }

  .home-img {
    filter: brightness(0.9);
  }

  .desktop-view {
    top: 120px;
  }

  .whats-new-title {
    padding-left: 0%;
    text-align: center;
  }

  .whats-new-col-3 {
    width: 95%;
    padding: 20px 2.5% 20px 2.5%;
  }

  .whats-new-col {
    box-shadow: none;
    background: none;
  }

  .whats-new-subtitle {
    width: 100%;
  }

  .whats-new-text-wrapper {
    width: 100%;
  }

  /* about */
  .about-wrapper {
    width: 100%;
    top: 0px;
  }

  .project-title {
    text-align: center;
  }

  .project-text {
    /*text-align: justify;*/
    padding-bottom: 40px;
    line-height: 35px;
    font-size: 19px;
  }

  /* software */
  .software-ui {
    width: 90%;
  }

  .options-row {
    height: 140px;
    margin-bottom: 0px;
  }

  .software-title {
    width: 100%;
    padding: 10px 0% 10px 0%;
    text-align: center;
  }

  .software-options-container {
    width: 100%;
  }

  .options-title {
    font-size: 17px;
  }

  .software-project-wrapper {
    box-shadow: none;
  }

  .col-of-2 {
    position: relative;
    float: none;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 1% 0% 1% 0%;
  }

  .software-ui-left {
    display: none;
  }

  .software-img-wrapper {
    height: 250px;
    overflow: hidden;
    padding-top: 0px;
  }

  .software-img {
    width: 100%;
  }

  .software-project-text-wrapper {
    height: 50px;
  }

  .software-project-text {
    font-size: 16px;
  }

  .email-text {
    text-align: center;
  }

  /* visual arts */
  .visual-arts-ui {
    width: 90%;
  }

  .visual-title {
    text-align: center;
    width: 100%;
    padding: 10px 0% 30px 0%;
  }

  .photo-img-title {
    opacity: 1;
  }

  .visual-project-wrapper {
    overflow: none;
    height: auto;
  }

  .visual-ui-item {
    height: 225px;
    width: 100%;
    padding: 10px 0% 0px 0%;
    margin-bottom: 50px;
  }

  .design-img {
    width: 60%;
  }

  .vid-iframe {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 95%;
    padding: 20px 2.5% 20px 2.5%;
    height: 250px;
  }

  /* modal */
  #modal {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 800px;
    padding: 0px;
  }

  #modal-inner {
    padding: 10px 1.5% 10px 1.5%;
    position: relative;
    display: block;
    margin: 0 auto;
    top: 0px;
    height: 350px;
    width: 97%;
    overflow-x: hidden;
  }

  .test-nav-wrapper {
    top: 450px;
  }

  .img-slide {
    width: 100%;
    padding: 0px;
  }

  .modal-img {
    padding: 0%;
  }

  .no-top-border-mobile {
    border-top: none;
  }

  .project-hats {
    margin-bottom: 50px;
  }

  .hats-text {
    padding-bottom: 0px;
    line-height: 18px;
  }
  .about-content {
    margin-bottom: 50px;
  }
}


@media (max-width: 530px) and (min-width: 400px) {
  .software-img-wrapper {
    height: 200px;
  }
}
