@import url('https://fonts.googleapis.com/css?family=Pacifico|Gudea|Rajdhani:500|Courgette|Domine|Nunito');

:root {
  --cb1: cubic-bezier(.3, .01, .26, .97);
  --cb2: cubic-bezier(.37, .01, .59, .97);
  --ball-bg-w: rgba(250, 250, 250, 1);
  --body-cubez: cubic-bezier(.09,.66,.68,1.00);
  --wh-cubez: cubic-bezier(.09,.66,.68,1.00);
  --wh-trans: 1.5s;
  --bg1: #110f15;
}

body {
  position: absolute;
  font-family: 'Nunito';
  transition: 0.75s ease;
  overflow-x: hidden;
  opacity: 1;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: var(--bg1);
}

.navigation-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 5;
  color: white;
  transition: 2s ease;
}

#home-link {
  text-decoration: none;
  color: inherit;
  position: relative;
}

#flake-logo {
  position: relative;
  float: left;
  padding: 4px;
  width: 50px;
  left: 30px;
  top: 5px;
}

#cameron-miller {
  font-size: 34px;
  margin: 0;
  padding-left: 30px;
  position: relative;
  float: left;
  top: 15px;
}

.nav-list-container {
  position: relative;
  float: right;
  padding-right: 30px;
  left: -10px;
  top: 10px;
}

.nav-items-list li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px 0px 20px;
}

.navigation-link {
  padding: 4px;
  font-weight: 100;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  color: inherit;
}

.navigation-link:hover {
  text-decoration: none;
}

.underline {
  width: 0%;
  height: 1px;
  background: white;
  transition: 0.5s ease;
  position: relative;
  top: -27px;
}

.navigation-link:hover + .underline {
  width: 100%;
}

#nav-btn {
  position: relative;
  display: none;
  margin: 0 auto;
  width: 30px;
  margin-left: 0px;
  margin-right: 0px;
  float: right;
  top: 13px;
  left: -20px;
  z-index: 101;
  cursor: pointer;
}

.bar {
  position: relative;
  display: block;
  margin: 0 auto;
  background: white;
  height: 2px;
  width: 25px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 7px;
  transition: 0.5s;
}

#nav-mobile {
  position: absolute;
  display: none;
  left: 0%;
  transition: 0.25s ease;
  width: 100%;
  height: 800px;
  background: white;
}

.nav-list-mobile {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding-left: 0px;
  transition: 1s;
  background: white;
  transition: 0.5s;
  text-align: center;
  top: 50px;
  padding-inline-start: 0px;
}

.nav-item-mobile {
  list-style-type: none;
  padding: 26px 0px 26px 0px;
  border-top: 1px solid rgba(134, 134, 134, 0.5);
  width: 50%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.selector {
  width: 70%;
}

.nav-link-mobile {
  color: #868686;
  padding: 4px;
  font-weight: 100;
  font-size: 24px;
  position: relative;
  cursor: pointer;
}

.media-list {
  list-style-type: none;
  padding: 0px;
  width: 90%;
  left: 0px;
  position: relative;
  padding-inline-start: 0px;
  display: block;
  margin: 0 auto;
}

.media-list li {
  display: inline-block;
  position: relative;
  width: 16%;
  padding: 0px 1% 0px 1%;
  text-align: center;
}

.other-sites {
  position: fixed;
  text-align: left;
  width: 50px;
  top: 310px;
  z-index: 100;
  left: 30px;
  padding-left: 4px;
  filter: invert(1);
}

.other-sites ul {
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

.other-sites ul li {
  list-style-type: none;
  padding: 2px;
}

.other-sites ul li a {
  color: white;
  opacity: 0.25;
  transition: 0.5s ease;
}

.other-sites ul li a:hover {
  opacity: 0.75;
}

.social-img {
  width: 35px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.medium-img {
  width: 45px;
}

#medium-desk {
  position: relative;
  left: -4px;
}

.ig-img {
  width: 42px;
  left: -4px;
}

#ig-mobile {
  top: 3px;
}

.language-toggle-mobile {
  position: relative;
  display: block;
  margin: 0 auto;
  color: #868686;
  width: 100%;
}

.language-toggle {
  position: fixed;
  bottom: 30px;
  z-index: 1;
  color: white;
  left: 30px;
  padding-left: 4px;
}

.lang-btn-wrapper {
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0px;
}

.language-btn {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 8px 0px 8px;
  opacity: 0.5;
  transition: 0.25s ease;
  cursor: pointer;
}

.language-btn:hover {
  opacity: 1;
}

.desktop-view {
  position: relative;
  top: 185px;
  z-index: 1;
}

.home-img-content {
  position: fixed;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  height: 100vh;
}

.home-img-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.home-img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1500px;
  height: 100vh;
  transition: 2s ease;
  filter: brightness(0.9) blur(0px);
  transition-property: all;
}

.topic-content {
  position: relative;
  display: none;
  margin: 0 auto;
  opacity: 0;
  transition: 0.75s ease;
}

/* about */
.about-wrapper {
  width: 79%;
  position: relative;
  display: block;
  margin: 0 auto;
  top: 20px;
}

.project-text-wrapper {
  position: relative;
  top: 30px;
}

.project-title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin: 0;
  padding-bottom: 6px;
}

.project-text {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  color: white;
  line-height: 45px;
  letter-spacing: 0.8px;
}

.hats-text {
/*  text-decoration: underline;*/
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.project-hats {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hats-list {
  color: white;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: max-content;
}

.hats-list li {
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  text-align: center;
  width: 150px;
}

@keyframes shimmer {
  0% {
    color: lightblue;
    filter: hue-rotate(0deg);
  }
  100% {
    color: lightblue;
    filter: hue-rotate(360deg);
  }
}

.connect-span {
  transition: 0.5s ease;
  cursor: pointer;
  color: lightblue;
  filter: hue-rotate(0deg);
  animation: 2s shimmer 0s ease infinite;
}

.sparkle {
  
}

.connect-span:hover {
  color: lightblue;
}

/* whats new */
#whats-new-wrapper {
  width: 80%;
  opacity: 1;
  position: relative;
  margin: 0 auto;
  display: block;
  transition: 0.25s ease;
}

.whats-new-title {
  color: white;
  margin-top: 0px;
  font-size: 34px;
  text-shadow: 0px 0px 20px #a0a0a0;
  padding-left: 4.5%;
  margin-bottom: 50px;
  font-weight: 100;
}

.whats-new-content {
  height: 400px;
}

.whats-new-col-3 {
  width: 30.33%;
  padding: 0% 1.5% 0% 1.5%;
  height: 375px;
  overflow-x: hidden;
}

.whats-new-col {
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0);
  /*box-shadow: inset 0px 0px 20px 4px #ffffff;*/
  transition: 0.5s ease;
}

.whats-new-col:hover {
  background: rgba(250, 250, 250, 0.10);
  cursor: pointer;
}

.whats-new-subtitle {
  color: white;
  font-size: 24px;
  margin-top: 0px;
  padding: 26px 0px 10px 0px;
  text-align: left;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  width: 80%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.whats-new-text-wrapper {
  width: 80%;
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

.whats-new-text {
  color: white;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
}

/* software */
.software-ui {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 76%;
  height: calc(75vh - 100px);
  padding-left: 1.5%;
}

.software-title {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 34px;
  padding-left: 0%;
  width: 50%;
  float: left;
}

.options-row {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

.software-options-container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 40px;
  float: right;
}

.options-wrapper {
  text-align: center;
  color: white;
  transition: 0.25s;
  cursor: pointer;
}

.options-wrapper:hover {
  box-shadow: inset 0px 0px 16px 4px #ffffff;
}

.options-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.soft-proj-details {
  height: 100%;
}

.software-project-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 90%;
  height: inherit;
  /* background: linear-gradient(-90deg
    rgba(250, 250, 250, 0.45) 50%,
    rgba(250, 250, 250, 0))
    ); */
  /* box-shadow: inset 0px 0px 10px 4px #ffffff; */
  padding: 1% 5% 2% 5%;
  margin: 10px 0px 30px 0px;
  text-decoration: none;
  cursor: pointer;
}

.software-project-wrapper:hover {
  box-shadow: inset 0px 0px 10px 4px rgba(255, 255, 255, 0.3);
}

.software-project-link {
  text-decoration: none;
}
/*
.software-project-link:hover .software-project-text {
  text-decoration: underline;
}*/

/* .software-img-wrapper {
  height: 250px;
  padding-top: 20px;
  overflow: hidden;
}

.software-img {
  width: 400px;
  display: none;
  margin: 0 auto;
  position: relative;
  transition: 0.25s ease;
} */
/*
.software-img:hover {
  box-shadow: 0px 0px 15px rgba(250, 250, 250, 0.5);
} */

/* .software-project-title-wrapper {
  padding-left: 5%;
} */

.software-project-title {
  font-size: 28px;
  color: white;
  font-weight: 100;
  margin-bottom: 20px;
  /* border-bottom: 1px solid white; */
  text-decoration: none;
}

/* .software-project-text-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  text-align: left;
  color: inherit;
  padding-left: 5%;
} */

.software-project-text {
  font-size: 18px;
  margin-top: 0px;
  color: white;
  font-weight: 100;
  text-decoration: none;
  width: 100%;
}

.project-row {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.software-list-wrapper {
  height: calc(75vh - 150px);
}

.software-list {
  list-style-type: none;
  overflow-y: overlay;
  height: inherit;
  position: relative;
  top: 0px;
  padding-inline-start: 0px;
}

.software-list-item {
  height: 80px;
  width: 100%;
  position: relative;
  display: block;
  border-bottom: 1px solid white;
  transition: 0.5s;
  cursor: pointer;
  /*box-shadow: inset 0px 0px 24px 4px #ffffff;*/
  background: linear-gradient(90deg, rgba(250, 250, 250, 0) 10%, rgba(250, 250, 250, 0));
}

.software-list-item:hover {
  background: linear-gradient(90deg, rgba(250, 250, 250, 0) 10%, rgba(250, 250, 250, 1));
}

.list-item-title {
  margin: 0;
  padding: 12px;
  position: relative;
  top: 12px;
  color: white;
  letter-spacing: 2px;
}

/* visual */
.visual-arts-ui {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 76%;
  height: 415px;
}

.visual-title {
  color: #353535;;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 34px;
  padding-left: 1.5%;
  width: 48.5%;
  float: left;
}

.options-wrapper-v {
  text-align: center;
  color: #353535;
  transition: 0.25s;
  cursor: pointer;
}

.options-wrapper-v:hover {
  border-top: 1px solid #353535;
}

.options-title-v {
  margin-top: 10px;
  margin-bottom: 10px;
}

.visual-project-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  overflow-x: scroll;
  width: 100%;
  height: 450px;
}

.visual-list {
  width: 100%;
  position: relative;
  padding-left: 0px;
}

.visual-ui-item {
  position: relative;
  display: inline-block;
  float: left;
  width: 30.33%;
  padding: 10px 1.5% 10px 1.5%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.visual-ui-img-wrapper {
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
}

.photo-img-title {
  position: absolute;
  top: 0px;
  left: 10px;
  color: white;
  margin-top: 10px;
  text-align: left;
  width: 100%;
  display: block;
  padding-top: 5px;
  font-size: 20px;
  transition: 0.25s ease;
  z-index: 100;
  opacity: 0;
  text-shadow: 0px 0px 10px #353535;
}

.visual-ui-img-wrapper:hover .photo-img-title {
  opacity: 1;
}

.visual-ui-img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* photography */
.photo-img-wrapper {
  padding: 4px;
  position: relative;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.photo-cont-img {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
}

/* design */
.design-img {
  width: 75%;
}

/* video */
.vid-iframe {
  position: relative;
  float: left;
  width: 45%;
  padding: 0px 2.5% 0px 2.5%;
}

/* modal */
.project-modal {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 800px;
  background: white;
  color: var(--bg1);
  z-index: 103;
  opacity: 0;
  overflow-x: scroll;
  transition: 0.5s ease;
  transition-delay: 0s;
  top: -100px;
}

.project-modal-inner {
  position: relative;
  display: block;
  margin: 0 auto;
  color: var(--bg1);
  width: 80%;
  margin-top: 30px;
}

.project-modal-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.project-modal-description {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  color: var(--bg1);
  line-height: 45px;
  letter-spacing: 0.8px;
}

.external-link {
  background: var(--bg1);
  padding: 8px 20px;
  font-size: 18px;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  width: 100px;
}

.close {
  position: absolute;
  float: right;
  top: -20px;
  right: 0px;
  padding: 20px;
  border: none;
  background: none;
  color: var(--bg1);
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  z-index: 202;
}

#closes:hover .dot {
  display: none;
}

@keyframes openUp {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(1);
  }
}

.modal {
  background-color: #353535;
  transform: scale(0);
  transition: 0.5s;
}

.kanji-slide-num {
  display: none;
}

.closes {
  transform: scale(1.5);
  position: relative;
  left: 10px;
  top: 10px;
  color: yellow;
  font-size: 20px;
  z-index: 202;
}

.closes:hover .dot {
  display: none;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.new-eng-background {
  height: 600px;
}

#loader-modal {
  display: block;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background: white;
  color: #535353;
  z-index: 150;
  transition: 0.75s ease;
  text-align: center;
}

#loader-flower {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 150px;
  top: 300px;
  animation: 1.5s cubic-bezier(.63,.14,.4,.93) 0.25s infinite running spin;
}

/* cubic-bezier(.34,-0.22,.66,1.18) */
/* cubic-bezier(.55,.01,.5,.98) */
/* cubic-bezier(.63,.14,.4,.93) */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


#portfolio-footer {
  display: none;
  position: relative;
  top: 50px;
  padding-top: 50px;
}

#resume {
  position: relative;
  text-decoration: none;
  color: #686868;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
  transition: 0.5s;
  top: 50px;
}

#resume:hover {
  color: black;
}

.modal-title {
  text-align: center;
  width: 100%;
}

.test-nav-wrapper {
  width: 850px;
  position: absolute;
  display: block;
  margin: 0 auto;
  left: 0%;
  right: 0%;
  top: 400px;
  z-index: 201;
}

.nav-btn-wrapper {
  background: white;
  border: none;
  position: relative;
  padding: 8px;
}

.nav-left {
  float: left;
  padding-left: 20px;
}

.nav-right {
  float: right;
  padding-right: 20px;
}

.rooms-nav-btn {
  border: none;
  background: transparent;
  font-size: 20px;
}

/*
.modal-film-roll {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  transition: 0.25s ease;
  transform: translateX(0px);
  cursor: pointer;
  left: 0px;
  overflow-x: scroll;
}*/

.modal-film-roll {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.modal-film-roll.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1.02);
}

.img-slide {
  width: 700px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0px 4px 0px 4px;
}

.modal-img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}

#modal-inner {
  padding: 6px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.modal-video {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 80%;
  top: 30px;
}

.modal-ul li {
  list-style-type: none;
  padding: 4px;
}

.dot {
  position: absolute;
  display: none;
  background-color: var(--ball-bg-w);
  width: 50px;
  height: 50px;
  left: 50vw;
  top: 50vh;
  border-radius: 50%;
  transition: width var(--wh-trans) var(--wh-cubez),
              height var(--wh-trans) var(--wh-cubez),
              opacity 0.75s ease,
              background-color 0s ease;
  transform-origin: center;
  transform: translate(-50%, -50%);
  opacity: 1;
  mix-blend-mode: difference;
  z-index: 200;
}
