/* redesign.css */
@import url('https://fonts.googleapis.com/css?family=Pacifico|Gudea|Rajdhani:500|Courgette|Domine|Nunito');

:root {

}

body {
  position: absolute;
  font-family: 'Nunito';
  transition: 0.75s ease;
  overflow-x: hidden;
  opacity: 1;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.navigation-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 5;
  color: white;
  transition: 2s ease;
}

#home-link {
  text-decoration: none;
  color: inherit;
  position: relative;
}

#flake-logo {
  position: relative;
  float: left;
  padding: 4px;
  width: 50px;
  left: 30px;
  top: 5px;
}

#cameron-miller {
  font-size: 34px;
  margin: 0;
  padding-left: 30px;
  position: relative;
  float: left;
  top: 15px;
}

.nav-list-container {
  position: relative;
  float: right;
  padding-right: 30px;
  left: -10px;
  top: 10px;
}

.nav-items-list li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px 0px 20px;
}

.navigation-link {
  padding: 4px;
  font-weight: 100;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  color: inherit;
}

.navigation-link:hover {
  text-decoration: none;
}

.underline {
  width: 0%;
  height: 1px;
  background: white;
  transition: 0.5s ease;
  position: relative;
  top: -27px;
}

.navigation-link:hover + .underline {
  width: 100%;
}

#nav-btn {
  position: relative;
  display: none;
  margin: 0 auto;
  width: 30px;
  margin-left: 0px;
  margin-right: 0px;
  float: right;
  top: 13px;
  left: -20px;
  z-index: 101;
  cursor: pointer;
}

.bar {
  position: relative;
  display: block;
  margin: 0 auto;
  background: white;
  height: 2px;
  width: 25px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 7px;
  transition: 0.5s;
}

#nav-mobile {
  position: absolute;
  display: none;
  left: 100%;
  transition: 0.5s ease;
  width: 100%;
  height: 800px;
  background: white;
}

.nav-list-mobile {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding-left: 0px;
  transition: 1s;
  background: white;
  transition: 0.5s;
  text-align: center;
  top: 50px;
  padding-inline-start: 0px;
}

.nav-item-mobile {
  list-style-type: none;
  padding: 26px 0px 26px 6px;
  border-top: 1px solid #868686;
  width: 75%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.nav-link-mobile {
  color: #868686;
  padding: 4px;
  font-weight: 100;
  font-size: 24px;
  position: relative;
  cursor: pointer;
}

.media-list {
  list-style-type: none;
  padding: 0px;
  width: 90%;
  left: 0px;
  position: relative;
  padding-inline-start: 0px;
  display: block;
  margin: 0 auto;
}

.media-list li {
  display: inline-block;
  position: relative;
  width: 16%;
  padding: 0px 1% 0px 1%;
  text-align: center;
}

.other-sites {
  position: fixed;
  text-align: left;
  width: 50px;
  top: 290px;
  z-index: 100;
  left: 30px;
  padding-left: 4px;
}

.other-sites ul {
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

.other-sites ul li {
  list-style-type: none;
  padding: 2px;
}

.other-sites ul li a {
  color: white;
  opacity: 0.25;
  transition: 0.5s ease;
}

.other-sites ul li a:hover {
  opacity: 0.75;
}

.social-img {
  width: 35px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.medium-img {
  width: 45px;
}

#medium-desk {
  position: relative;
  left: -4px;
}

.ig-img {
  width: 40px;
}

#ig-mobile {
  top: 3px;
}

.desktop-view {
  position: relative;
  top: 185px;
  z-index: 1;
}

.home-img-content {
  position: fixed;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  height: 800px;
}

.home-img-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.home-img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1500px;
  height: 766px;
  transition: 2s ease;
}

.topic-content {
  position: relative;
  display: none;
  margin: 0 auto;
  opacity: 0;
  transition: 0.75s ease;
}

/* about */
.about-wrapper {
  width: 79%;
  position: relative;
  display: block;
  margin: 0 auto;
  top: 20px;
}

.project-text-wrapper {
  position: relative;
  top: 30px;
}

.project-title {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin: 0;
  padding-bottom: 6px;
}

.project-text {
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  margin: 0;
  color: white;
  line-height: 45px;
  letter-spacing: 0.8px;
}

/* whats new */
#whats-new-wrapper {
  width: 79%;
  opacity: 1;
  position: relative;
  margin: 0 auto;
  display: block;
  transition: 0.25s ease;
}

.whats-new-title {
  color: white;
  margin-top: 0px;
  font-size: 34px;
  text-shadow: 0px 0px 20px #a0a0a0;
  padding-left: 1.5%;
  margin-bottom: 50px;
}

.whats-new-content {
  height: 400px;
}

.whats-new-col-3 {
  width: 30.33%;
  padding: 0% 1.5% 0% 1.5%;
  height: 375px;
  overflow-x: hidden;
}

.whats-new-col {
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0.2);
  /*box-shadow: inset 0px 0px 20px 4px #ffffff;*/
  transition: 0.5s ease;
}

.whats-new-col:hover {
  background: rgba(250, 250, 250, 0.10);
  cursor: pointer;
}

.whats-new-subtitle {
  color: white;
  font-size: 24px;
  margin-top: 0px;
  padding: 26px 0px 10px 0px;
  text-align: center;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  width: 80%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.whats-new-text-wrapper {
  width: 80%;
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

.whats-new-text {
  color: white;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
}

/* software */
.software-ui {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 75%;
  height: 400px;
  padding-left: 1.5%;
}

.software-title {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 34px;
  padding-left: 0%;
  width: 50%;
  float: left;
}

.options-row {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

.software-options-container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 40px;
  float: right;
}

.options-wrapper {
  text-align: center;
  color: white;
  transition: 0.25s;
  cursor: pointer;
}

.options-wrapper:hover {
  box-shadow: inset 0px 0px 16px 4px #ffffff;
}

.options-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.software-project-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 425px;
  background: linear-gradient(-90deg rgba(250, 250, 250, 0.85 50%, rgba(250, 250, 250, 0)));
  box-shadow: inset 0px 0px 20px 4px #ffffff;
}

.software-img-wrapper {
  height: 250px;
  padding-top: 20px;
  overflow: hidden;
}

.software-img {
  width: 400px;
  display: block;
  margin: 0 auto;
  position: relative;
  transition: 0.25s ease;
}

.software-img:hover {
  box-shadow: 0px 0px 15px rgba(250, 250, 250, 0.5);
}

.software-project-text-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  color: inherit
}

.software-project-text {
  font-size: 16px;
  margin-top: 0px;
  color: white;
  font-weight: 100;
}

.project-row {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.software-list {
  list-style-type: none;
  overflow: scroll;
  height: 375px;
  position: relative;
  top: 0px;
  padding-inline-start: 0px;
}

.software-list-item {
  height: 80px;
  width: 100%;
  position: relative;
  display: block;
  border-bottom: 1px solid white;
  transition: 0.5s;
  cursor: pointer;
  /*box-shadow: inset 0px 0px 24px 4px #ffffff;*/
  background: linear-gradient(90deg, rgba(250, 250, 250, 0) 10%, rgba(250, 250, 250, 0));
}

.software-list-item:hover {
  background: linear-gradient(90deg, rgba(250, 250, 250, 0) 10%, rgba(250, 250, 250, 1));
}

.list-item-title {
  margin: 0;
  padding: 12px;
  position: relative;
  top: 12px;
  color: white;
  letter-spacing: 2px;
}

/* visual */
.visual-arts-ui {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 79%;
  height: 425px;
}

.visual-title {
  color: #353535;;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 34px;
  padding-left: 1.5%;
  width: 48.5%;
  float: left;
}

.options-wrapper-v {
  text-align: center;
  color: #353535;
  transition: 0.25s;
  cursor: pointer;
}

.options-wrapper-v:hover {
  border-top: 1px solid #353535;
}

.options-title-v {
  margin-top: 10px;
  margin-bottom: 10px;
}

.visual-project-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  overflow-x: scroll;
  width: 100%;
  height: 450px;
}

.visual-list {
  width: 100%;
  position: relative;
  padding-left: 0px;
}

.visual-ui-item {
  position: relative;
  display: inline-block;
  float: left;
  width: 30.33%;
  padding: 10px 1.5% 10px 1.5%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.visual-ui-img-wrapper {
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
}

.visual-ui-img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* photography */
.photo-img-wrapper {
  padding: 4px;
  position: relative;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.photo-cont-img {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
}

/* design */
.design-img {
  width: 75%;
}

/* modal */
#modal {
  display: none;
  position: fixed;
  top: 2%;
  left: 5%;
  width: 90%;
  height: 700px;
  background: white;
  color: #535353;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 4px;
  z-index: 103;
  padding: 6px;
}

#close {
  position: relative;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 200;
  background: none;
  color: black;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

@keyframes openUp {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(1);
  }
}

.modal {
  background-color: #353535;
  transform: scale(0);
  transition: 0.5s;
}

.kanji-slide-num {
  display: none;
}

.closes {
  transform: scale(1.5);
  position: relative;
  left: 10px;
  top: 10px;
  color: yellow;
  font-size: 20px;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.new-eng-background {
  height: 600px;
}

#portfolio-footer {
  display: none;
  position: relative;
  top: 50px;
  padding-top: 50px;
}

#resume {
  position: relative;
  text-decoration: none;
  color: #686868;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
  transition: 0.5s;
  top: 50px;
}

#resume:hover {
  color: black;
}

.test-nav-wrapper {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  float: left;
  top: 50px;
}

.nav-btn-wrapper {
  background: white;
  border: none;
  position: relative;
  padding: 8px;
}

.nav-left {
  float: left;
  padding-left: 20px;
}

.nav-right {
  float: right;
  padding-right: 20px;
}

.rooms-nav-btn {
  border: none;
  background: transparent;
  font-size: 20px;
}

.img-slide {
  width: 700px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 20px;
  transition: 1s ease;
}

.modal-img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 6px;
}

#modal-inner {
  padding: 6px;
}

.modal-video {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 80%;
  top: 30px;
}

.modal-ul li {
  list-style-type: none;
  padding: 4px;
}
